.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content vertically */
    align-items: center; /* Centers content horizontally */
    height: 100vh; /* Full viewport height */
}

.loginHeading {
    color: brown;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Adds spacing between inputs */
}

input {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: brown;
    color: white;
    cursor: pointer;
    border: none;
}

input[type="submit"]:hover {
    background-color: darkred;
}
