.mainContent{
    margin-top: 70px;
}

.adminContainer {
    display: flex;
    height: 100vh;
}


.mainAdminContent {
    flex: 1;
    /* Takes remaining space */
    /* padding: 20px; */
    overflow-y: auto;
}